@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* 전체설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  vertical-align: bottom;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  /* mainSlide의 슬라이드 구현으로인해 하단에 가로 스크롤이 생겨
  overflow-x:hidden값을 주어 해결 */
  overflow-x: hidden;
}

h2 {
  font-family: 'Inter', sans-serif;
}

/* header 영역------ */
header {
  width: 100%;
  height: 4.4rem;
  background-color: rgba(251, 251, 253, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  backdrop-filter: blur(2rem);
}

header nav {
  max-width: 1050px;
  margin: 0 auto;
  height: 100%;
  /* background-color: aqua; */
}

header .nav_list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header .nav_list li a {
  display: block;
  font-size: 1.2rem;
  color: #1e1e1e;
  font-weight: 500;
  /* background-color: blueviolet; */
}

header .nav_list li a:hover {
  color: #000;
}

/* 모바일 메뉴 설정----- */
header nav .nav_list_mobile {
  display: none;
}

/* logo 설정 */
header nav ul .logo a svg {
  display: block;
  width: 1.4rem;
  height: 4.4rem;
}

/* banner --------- */
.banner {
  padding-top: 4.4rem;
  width: 100%;
}

.banner .banner_txt {
  width: 100%;
  padding: 1.52rem 0;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  letter-spacing: 0.02rem;
}

.banner .banner_txt span {
  font-size: 1.28rem;
}

.banner sup {
  vertical-align: super;
  font-size: 0.8125em;
}

.banner .banner_link {
  color: #0066cc;
}

/* hero 영역 --------------- */
main .hero>div>.container {
  display: flex;
  flex-direction: column;
}

/* 전체 텍스트 설정 */
main .hero .title_wrap {
  text-align: center;
  padding-top: 4.2rem;
  line-height: 1.4;
}

main .title_wrap .headline {
  font-size: 5.6rem;
  font-weight: bold;
  color: #f5f5f7;
  letter-spacing: -0.2rem;
}

main .hero .title_wrap .subhead {
  font-size: 2.8rem;
  margin-top: 0.08rem;
  color: #f5f5f7;
}

main .hero .title_wrap .callout {
  color: #86868B;
  font-size: 1.88rem;
  margin-top: 1.4rem;
  letter-spacing: 0rem;
}

/* cta에 hover를 주기 위해 z-index값을 설정하였지만 적용되지 않음.
- position값을 주었더니 z-index값이 적용됨.  */
main .title_wrap .cta {
  position: relative;
  margin-top: 1.5rem;
  z-index: 4;
}

main .title_wrap .cta>a {
  font-size: 1.95rem;
  color: #2997ff;
  letter-spacing: 0.02rem;
  display: inline-block;
}

main .iphone_15 .cta>a {
  color: #0066cc;
}

main .title_wrap .cta>a:hover {
  text-decoration: underline;
}

main .title_wrap .cta>.cta_links:nth-child(2) {
  margin-left: 35px;
}

/* headline 로고 이미지 설정 */
main .apple_watch .logo_image {
  width: 190px;
  height: 72px;
  margin: 0 auto;
}

main .apple_watch .logo_image figure {
  width: 100%;
  height: 100%;
  background-size: cover;
}

main .apple_watch .logo_image figure {
  background-image: url(../img/title_apple_watch_series_9_large.png);
}

/* 전체 링크 영역 설정 */
main .container>a {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* iPhone15pro 영역 -------- */
.iphone_15_pro {
  width: 100%;
  height: 580px;
  background-color: #000;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}

.iphone_15_pro .container {
  width: 100%;
  height: 100%;
}

/* 이미지 설정 */
.iphone_15_pro .container .image_wrap {
  width: 100%;
  height: 340px;
}

.iphone_15_pro .iphone_15_pro_image {
  width: 100%;
  height: 100%;
  background-image: url(../img/hero_iphone15pro_large.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
}

/* iPhone15 영역 -------- */
.iphone_15 {
  width: 100%;
  height: 580px;
  background-color: #f5f5f5;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}

.iphone_15 .container {
  width: 100%;
  height: 100%;
}

/* 텍스트 컬러 설정 */
.iphone_15 .container .title_wrap .headline {
  color: #1d1d1f;
}

.iphone_15 .container .title_wrap .subhead {
  color: #1d1d1f;
}

.iphone_15 .container .title_wrap .callout {
  color: #6e6e73;
}

.iphone_15 .container .title_wrap .cta>a {
  color: #0066cc;
}

/* 이미지 설정 */
.iphone_15 .container .image_wrap {
  width: 100%;
  height: 340px;
}

.iphone_15 .container .image_wrap .iphone_15_image {
  width: 100%;
  height: 100%;
  background-image: url(../img/hero_iphone15_large.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
}

/* apple watch 영역 -------- */
.apple_watch {
  width: 100%;
  height: 580px;
  background-color: #000;
  overflow: hidden;
  position: relative;
}

.apple_watch .container {
  width: 100%;
  height: 100%;
}

/* 이미지 설정 */
.apple_watch .container .image_wrap {
  width: 100%;
  height: 340px;
}

.apple_watch .container .image_wrap .apple_watch_image {
  width: 100%;
  height: 100%;
  background-image: url(../img/hero_apple_watch_large.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
}

/* promo 영역 (grid 적용) ----------- */
.promo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 580px);
  grid-gap: 1rem;
  padding: 1.2rem;
}

.promo>div {
  background-color: #fbfbfd;
  position: relative;
  /* height: 580px; */
  overflow: hidden;
}

.promo>div>.container {
  display: flex;
  flex-direction: column;
}

/* 타이틀 영역 전체 설정 */
main .promo .title_wrap {
  text-align: center;
  padding-top: 4.2rem;
  line-height: 1.4;
}

main .promo .title_wrap .headline {
  font-size: 4rem;
  font-weight: 600;
  width: 100%;
}

main .macbook_air_15 .headline,
main .ipad .headline {
  color: #1d1d1f;
}

main .promo .title_wrap .subhead {
  font-size: 2.1rem;
  font-weight: 400;
}

main .promo .title_wrap .callout {
  font-size: 1.7rem;
  color: #6e6e73;
  margin-top: 1.2rem;
}

main .promo .title_wrap .cta {
  margin-top: 1.2rem;
}

main .promo .title_wrap .cta>a {
  font-size: 1.6rem;
  color: #06c;
  font-weight: 400;
}

/* headline 이미지 설정 */
/* hedaline 이미지 크기 설정 */
main .promo .apple_watch_ultra_2 .logo_image,
main .promo .apple_watch_se .logo_image {
  width: 137px;
  height: 52px;
  margin: 0 auto;
}

main .promo .carbon_neutral .logo_image {
  width: 315px;
  height: 61px;
  margin: 0 auto;
}

main .promo .container .logo_image figure {
  width: 100%;
  height: 100%;
  background-size: cover;
}

/* hedaline 이미지 삽입 */
main .promo .apple_watch_ultra_2 .logo_image figure {
  background-image: url(../img/title_apple_watch_ultra2_large.png);
}

main .promo .carbon_neutral .logo_image figure {
  background-image: url(../img/title_carbon_neutral_large.png);
}

main .promo .apple_watch_se .logo_image figure {
  background-image: url(../img/title_apple_watch_se_large.png);
}

/* airpods-pro영역 텍스트 컬러 지정 */
main .promo .airpods_pro .title_wrap .subhead {
  color: #f5f5f7;
}

main .promo .airpods_pro .title_wrap .cta>a {
  color: #2997ff;
}

/* airpods-pro 배경색 설정 */
main .promo .airpods_pro {
  background-color: #000;
}

/* 전체 이미지 설정 */
main .promo figure {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

/* 이미지 height값 설정 */
main .promo .image_wrap {
  width: 100%;
  height: 366px;
}

main .promo .airpods_pro .image_wrap {
  width: 100%;
  height: 392px;
}

main .promo .macbook_air_15 .image_wrap,
main .promo .ipad .image_wrap {
  width: 100%;
  height: 408px;
}

/* 이미지 삽입 */
main .promo .apple_watch_ultra_2 .apple_watch_ultra_2_image {
  background-image: url(../img/promo_apple_watch_ultra2_large.jpg);
}

main .promo .carbon_neutral .carbon_neutral_image {
  background-image: url(../img/promo_carbon_neutral__large.jpg);
}

main .promo .apple_watch_se .apple_watch_se_image {
  background-image: url(../img/promo_apple_watch_se_large.jpg);
}

main .promo .airpods_pro .airpods_pro_image {
  background-image: url(../img/promo_airpods_pro__large.jpg);
}

main .promo .macbook_air_15 .macbook_air_15_image {
  background-image: url(../img/promo_macbook_air_15_large.jpg);
}

main .promo .ipad .ipad_image {
  background-image: url(../img/promo_ipad_large.jpg);
}

/* 푸터 영역 ----------*/
footer {
  width: 100%;
  background-color: #f5f5f7;
  font-size: 1.2rem;
  color: #6e6e73;
}

footer .content {
  max-width: 980px;
  margin: 0 auto;
}

/* footer-top 영역 */
footer .footer_top {
  padding: 1.7rem 0;
  border-bottom: 1px solid #d2d2d7;
}

footer .footer_top>ul>li {
  padding-bottom: .8rem;
}

/* footer-nav 영역 */
footer .footer_nav {
  padding-top: 2rem;
}

footer .footer_nav>ul {
  display: flex;
  justify-content: space-between;
}

footer .footer_nav .footer_nav_title {
  margin-bottom: .8rem;
  color: #1d1d1f;
}

footer .footer_nav>ul li {
  padding-bottom: .8rem;
}

footer .footer_nav .footer_nav_item_2 {
  padding-top: 2.4rem;
}

/* footer-bottom 영역 */
.footer_bottom .footer_bottom_shop {
  border-bottom: 1px solid #d2d2d7;
  padding-bottom: .8rem;
}

.footer_bottom_legal {
  display: flex;
  margin: .5rem 0;
}

.footer_bottom_legal ul {
  display: flex;
  margin-left: 3rem;
}

.footer_bottom_legal ul li {
  display: inline-block;
  border-right: 1px solid #86868b;
  margin-right: .7rem;
}

.footer_bottom_legal ul li>a {
  padding-right: 1rem;
}

.footer_bottom_contact {
  padding-bottom: 2rem;
}

.footer_bottom_contact ul {
  display: flex;
}

.footer_bottom_contact ul li {
  font-size: 1.1rem;
  color: #999999;
  padding-right: .5rem;
  border-right: 1px solid #999999;
}
